extends layout

block content
  div.container
    div.row.mb-5.d-flex.flex-column.justify-center-center.align-items-center
        h1= title
    div.row.mb-5.d-flex.flex-column.justify-center-center.align-items-center
        a(href="/trivia").btn.btn-primary New Trivia Questions!
